a {
  text-decoration: none;
}

.header {
  background-color: #666;
  font-size: 23px;
  color: #FFF;
  text-align: left;
  padding-top: 10px;
  padding-bottom: 13px;
  padding-left: 15px;
}

.subHeader {
  font-size: 14px;
  background-color: #69C;
  padding-top: 3px;
  padding-right: 40px;
  padding-bottom: 3px;
  padding-left: 15px;
  height: 20px;
}

.subLink {
  float: right;
  padding-left: 20px;
  padding-top: 2px;
}

.subHeader #loginUser {
  float: left;
  padding-top: 2px;
}

.main {
  background-color: #CCC;
  padding-top: 8px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.footer {
  font-size: 11px;
  color: #FFF;
  background-color: #666;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 4px;
}

.main .title {
  color: #FFF;
  background-color: #036;
  display: block;
  padding-top: 5px;
  padding-bottom: 6px;
  padding-left: 8px;
  font-size: 16px;
  margin-top: 5px;
}

.main .contents {
  font-size: 12px;
  background-color: #FFF;
  padding-left: 8px;
  padding-top: 8px;
  padding-bottom: 10px;
  display: block;
  padding-right: 8px;
}

a.menuBtn {
  display: block;
  height: 130px;
  width: 130px;
  background-image: url(image/button_off.gif);
  vertical-align: middle;
}

#menuList {
  list-style-type: none;
  padding-bottom: 80px;
}

#menuList li .menuBtn span {
  display: inline;
}

#menuList li {
  float: left;
  padding-top: 60px;
  padding-right: 40px;
  padding-left: 40px;
}

a.menuBtn:hover {
  background-image: url(image/button_on.gif);
}

#menuList li .menuBtn div {
  display: table-cell;
  height: 130px;
  width: 130px;
  vertical-align: middle;
  text-align:center;
  font-size: 14px;
  font-weight: bold;
  color: #030;
}

* html #menuList li .menuBtn div {/* IE 6 */
  display:inline;
  zoom:1;
}

*:first-child+html #menuList li .menuBtn div {/* IE 7 */
  display:inline;
  zoom:1;
}

.items {
  border: 1px solid #333;
  min-width: 10px;
}

.searchTab {
  border-top-width: 1px;
  border-right-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-top-color: #333;
  border-right-color: #333;
}
.searchTab tr th {
  background-color: #99C;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-bottom-style: solid;
  border-left-style: solid;
  border-bottom-color: #333;
  border-left-color: #333;
  text-align: left;
}
.searchTab tr td{
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-bottom-style: solid;
  border-left-style: solid;
  border-bottom-color: #333;
  border-left-color: #333;
}

.searchTab tr td table tr td {
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
}

span.hissu {
  font-size: 11px;
  color: #900;
}


.listTab {
  border-top-width: 1px;
  border-right-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-top-color: #333;
  border-right-color: #333;
}

.listTab tr th {
  background-color: #99C;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-bottom-style: solid;
  border-left-style: solid;
  border-bottom-color: #333;
  border-left-color: #333;
  text-align: center;
}

.listTab tr td {
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-bottom-style: solid;
  border-left-style: solid;
  border-bottom-color: #333;
  border-left-color: #333;
}

.listTab tr td.add {
  border-bottom-width: 3px;
  border-left-width: 1px;
  border-bottom-style: double;
  border-left-style: solid;
  border-bottom-color: #333;
  border-left-color: #333;
}


.inputComment {
  font-size: 12px;
  color: #009;
  float: right;
  margin-right: 15px;
}

.inputTab {
  border-top-width: 1px;
  border-right-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-top-color: #333;
  border-right-color: #333;
}

.inputTab tr th {
  background-color: #99C;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-bottom-style: solid;
  border-left-style: solid;
  border-bottom-color: #333;
  border-left-color: #333;
  text-align: left;
}

.inputTab tr td {
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-bottom-style: solid;
  border-left-style: solid;
  border-bottom-color: #333;
  border-left-color: #333;
}

.inputTab tr td table tr td {
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
}

.inputTab tr th table tr td {
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
}

div.CheckBoxTab {
}
.CheckBoxTab label {
  vertical-align: middle;
  margin-right: 5px;
  border-bottom-width: 1px;
  border-bottom-style: dashed;
  border-bottom-color: #066;
  cursor: pointer;
}

.closeBtn {
  float: right;
  margin-right: 25px;
}

.alartMsg {
  color: #900;
  font-weight: bold;
}
.compMsg {
  color: #900;
  text-indent: 15px;
  font-weight: bold;
}
.errMsg {
  color: #900;
  text-indent: 15px;
  font-weight: bold;
}


/*- Menu Tabs 1--------------------------- */

    #tabs1 {
      float:left;
      width:90%;
	  background:change-background;
      line-height:normal;
      border-bottom: #CCC solid 1px;
      }
    #tabs1 ul {
	  margin:0;
	  padding:10px 10px 0 10px;
	  list-style:none;
      }
    #tabs1 li {
      display:inline;
      margin:0;
      padding:0;
      }
    #tabs1 a {
      float:left;
      background:url("image/tableft1.gif") no-repeat left top;
      margin:0;
      padding:0 0 0 4px;
      text-decoration:none;
      }
    #tabs1 a span {
      float:left;
      display:block;
      background:url("image/tabright1.gif") no-repeat right top;
      padding:5px 28px 4px 24px;
      color:#627EB7;
      }
    /* Commented Backslash Hack hides rule from IE5-Mac \*/
    #tabs1 a span {float:none;}
    /* End IE5-Mac hack */
    #tabs a:hover span {
      color:#627EB7;
      }
    #tabs1 a:hover {
      background-position:0% -42px;
      }
    #tabs1 a:hover span {
      background-position:100% -42px;
      }
    #tabs1 a span.curtab {
      color:#000;
      font-weight: bold;
      }

#mypageBox {
  padding-left: 15px;
}

.typeEnt {
  background-color: #F9F;
}

.typeEdit {
  background-color: #99F;
}

.typeDel {
  background-color: #999;
}

.floatLeft {
	float: left;
}

.inputRule {
	color: #191970;
}