@charset "UTF-8";
/* CSS Document */

.tooltip-content {
    position: relative;
    left: -3px;
    top: -3px;

    background-color: #ffffe1;
    border: 1px black solid;
    padding: 3px;
}
/* å½± */
.tooltip-shadow {
    position: absolute;
    background-image: url('image/shadow.png');
}
